body {
    font-size: 1.2em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 90%;
    margin: 3em auto;
}

h1, h2{
    color: #4287DF;
}

h1 {
   font-size: 1.6em;
}

h2 {
   font-size: 1.2em;
   margin: 10px;
}

.card {
    margin: 40px 0;
}

ul {
    padding-left: 15px;
}

li {
    list-style-type: '⭐ ';
    list-style-position: inside;
}